body {
  color: white;
  background-color: black;
}
footer {
  color: gray;
}
button {
  background-color: #505050;
}
input {
  background-color: #505050;
}
select {
  background-color: #505050;
}
.green {
  color: #66ff99;
}
